# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab (hvt201)  and query the database that you were querying in class (citibike_feb_2015)

In [1]:
#python2
#SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

#import urllib2
#import urllib
#import StringIO
#import ast
#import pandas as pd

#def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    #'''queries carto datasets from a given carto account
    #Arguments: 
    #query - string: a valid sql query string
    #format - outlut format  OPTIONAL (default CSV)
    #source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    #Returns:
    #the return of the sql query AS A STRING
    #NOTES:
    #designed for the carto API, tested only with CSV return format'''
    
    #data = urllib.urlencode({'format': format, 'q': query})
    #try:
        #response = urllib2.urlopen(source, data)
    #except (urllib2.HTTPError, e):
        #raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    #except Exception:
        #raise
    #return response.read()

#python2,3 compatible
try:
    import urllib2 as ulib
except ImportError:
    import urllib as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

## Task 1.1 Sort data by start_station_id, tripduration
### Only checking trips with duration <= 3 hours

In [2]:
query = '''
SELECT start_station_id, tripduration
FROM htv210.citibike_feb_2015
WHERE tripduration <= 10800
ORDER BY start_station_id
'''
table = get_data(query)
table

       start_station_id  tripduration
0                    72           396
1                    72           517
2                    72           420
3                    72          1242
4                    72           569
5                    72           301
6                    72          1382
7                    72           479
8                    72           915
9                    72           621
10                   72           348
11                   72           777
12                   72           377
13                   72           613
14                   72          1678
15                   72           386
16                   72           288
17                   72           424
18                   72          1388
19                   72           432
20                   72          1914
21                   72           429
22                   72           728
23                   72           668
24                   72           953
25                   72           654
26                   72           817
27                   72           379
28                   72           367
29                   72           928
...                 ...           ...
46121              3002           301
46122              3002           243
46123              3002           771
46124              3002          1221
46125              3002           575
46126              3002           181
46127              3002           355
46128              3002          1823
46129              3002          1417
46130              3002           876
46131              3002          2139
46132              3002          1830
46133              3002           531
46134              3002           653
46135              3002           634
46136              3002           403
46137              3002           307
46138              3002           118
46139              3002           270
46140              3002           282
46141              3002           390
46142              3002           705
46143              3002           499
46144              3002           252
46145              3002           661
46146              3002          1005
46147              3002           879
46148              3002           850
46149              3002          1218
46150              3002           399

[46151 rows x 2 columns]

## Task 1.2 Only show the top/last 10 records (aka head and tail in SQL)

In [3]:
#TOP 10
query = '''
SELECT * FROM htv210.citibike_feb_2015
ORDER BY cartodb_id ASC
LIMIT 10;
'''
table = get_data(query)
table.head(10)

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.994811,NaN,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,8 Ave & W 31 St,40.750450,1,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978,2
1,NaN,-73.990093,NaN,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,E 17 St & Broadway,40.737050,2,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993,1
2,NaN,-73.973715,NaN,2474,2015-02-01 00:01:00+00,2015-02-01 00:42:00+00,281,Grand Army Plaza & Central Park S,40.764397,3,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969,2
3,NaN,-74.004704,NaN,818,2015-02-01 00:01:00+00,2015-02-01 00:15:00+00,2004,6 Ave & Broome St,40.724399,4,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985,2
4,NaN,-73.986317,NaN,544,2015-02-01 00:01:00+00,2015-02-01 00:10:00+00,323,Lawrence St & Willoughby St,40.692362,5,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957,1
5,NaN,-73.953820,NaN,717,2015-02-01 00:02:00+00,2015-02-01 00:14:00+00,373,Willoughby Ave & Walworth St,40.693317,6,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979,1
6,NaN,-73.977225,NaN,1306,2015-02-01 00:04:00+00,2015-02-01 00:26:00+00,352,W 56 St & 6 Ave,40.763406,7,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983,1
7,NaN,-73.989780,NaN,913,2015-02-01 00:04:00+00,2015-02-01 00:19:00+00,439,E 4 St & 2 Ave,40.726281,8,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955,1
8,NaN,-73.994046,NaN,759,2015-02-01 00:04:00+00,2015-02-01 00:17:00+00,335,Washington Pl & Broadway,40.729039,9,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985,2
9,NaN,-74.002638,NaN,585,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,Greenwich Ave & 8 Ave,40.739017,10,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982,1

In [4]:
#LAST 10
query = '''
SELECT * FROM htv210.citibike_feb_2015
ORDER BY cartodb_id DESC
LIMIT 10;
'''
table = get_data(query)
table.head(10)

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.989780,NaN,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,E 4 St & 2 Ave,40.726281,46200,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965,2
1,NaN,-74.002150,NaN,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,Carmine St & 6 Ave,40.730386,46199,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983,2
2,NaN,-73.986831,NaN,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,5 Ave & E 29 St,40.745168,46198,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986,1
3,NaN,-73.986831,NaN,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,5 Ave & E 29 St,40.745168,46197,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986,2
4,NaN,-74.000040,NaN,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,W 20 St & 8 Ave,40.743453,46196,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953,1
5,NaN,-73.969053,NaN,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,1 Ave & E 44 St,40.750020,46195,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960,2
6,NaN,-73.982050,NaN,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,E 20 St & 2 Ave,40.735877,46194,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974,1
7,NaN,-74.009106,NaN,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,Warren St & Church St,40.714740,46193,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959,1
8,NaN,-73.993012,NaN,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,W 47 St & 10 Ave,40.762699,46192,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984,1
9,NaN,-74.001497,NaN,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,W 17 St & 8 Ave,40.741776,46191,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983,2

## Task 1.3 List all unique start_station_id values

In [5]:
query = '''
SELECT DISTINCT start_station_id FROM htv210.citibike_feb_2015
WHERE start_station_id IS NOT NULL;
'''
table = get_data(query)
table

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                411         NaN
24                445         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               454         NaN
300               310         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               305         NaN
324               497         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

## Task 1.4 Aggregation functions:
- Count the number of trips (aka wc -l in SQL)
- Find the average/min/max trip duration

In [6]:
query = '''
SELECT COUNT(cartodb_id)
FROM htv210.citibike_feb_2015
'''
table = get_data(query)
table.head()

   count  Unnamed: 1
0  46200         NaN

In [12]:
query = '''
SELECT MIN(tripduration) FROM htv210.citibike_feb_2015;
'''
table = get_data(query)
table.head()

   min  Unnamed: 1
0   60         NaN

In [13]:
query = '''
SELECT MAX(tripduration) FROM htv210.citibike_feb_2015;
'''
table = get_data(query)
table.head()

     max  Unnamed: 1
0  43016         NaN

In [14]:
query = '''
SELECT AVG(tripduration) FROM htv210.citibike_feb_2015;
'''
table = get_data(query)
table.head()

          avg  Unnamed: 1
0  675.865823         NaN

## Task 2.1 Selecting trips started on Feb-02-2015 only

In [15]:
query = '''
SELECT *
FROM htv210.citibike_feb_2015
WHERE starttime BETWEEN '2/2/2015 00:00:00.00' AND '2/2/2015 23:59:59.999'
'''
table = get_data(query)
table

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.979955,NaN,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,E 5 St & Avenue C,40.722992,6920,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
1,NaN,-74.004432,NaN,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,9 Ave & W 16 St,40.742065,6477,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
2,NaN,-74.004432,NaN,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,9 Ave & W 16 St,40.742065,6478,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2
3,NaN,-73.990931,NaN,498,2015-02-02 06:20:00+00,2015-02-02 06:28:00+00,492,W 33 St & 7 Ave,40.750200,6526,493,W 45 St & 6 Ave,40.756800,-73.982912,16013,Subscriber,1962.0,2
4,NaN,-73.993915,NaN,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,W 27 St & 7 Ave,40.746647,6442,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
5,NaN,-73.984267,NaN,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,E 11 St & 1 Ave,40.729538,6443,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
6,NaN,-74.001670,NaN,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,Peck Slip & Front St,40.707873,6444,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
7,NaN,-73.992390,NaN,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,E 16 St & 5 Ave,40.737262,6445,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
8,NaN,-73.990026,NaN,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,W 41 St & 8 Ave,40.756405,6446,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
9,NaN,-73.978951,NaN,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,Dean St & 4 Ave,40.683125,6447,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
10,NaN,-74.003664,NaN,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,9 Ave & W 18 St,40.743174,6448,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
11,NaN,-74.005628,NaN,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,Reade St & Broadway,40.714505,6449,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
12,NaN,-73.994811,NaN,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,8 Ave & W 31 St,40.750450,6450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
13,NaN,-73.981656,NaN,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,1 Ave & E 15 St,40.732219,6451,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
14,NaN,-73.990741,NaN,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,Broadway & E 14 St,40.734546,6452,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
15,NaN,-73.983688,NaN,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,E 2 St & Avenue B,40.722174,6453,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
16,NaN,-74.001670,NaN,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,Peck Slip & Front St,40.707873,6454,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
17,NaN,-73.980166,NaN,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,Columbia St & Rivington St,40.717400,6455,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
18,NaN,-74.000040,NaN,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,W 20 St & 8 Ave,40.743453,6456,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
19,NaN,-73.987140,NaN,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,St Marks Pl & 2 Ave,40.728419,6457,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
20,NaN,-74.000040,NaN,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,W 20 St & 8 Ave,40.743453,6458,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
21,NaN,-73.983390,NaN,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,W 37 St & 5 Ave,40.750380,6459,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
22,NaN,-73.997044,NaN,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,W 13 St & 6 Ave,40.736494,6460,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
23,NaN,-74.001768,NaN,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,10 Ave & W 28 St,40.750664,6461,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
24,NaN,-73.979738,NaN,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,E 25 St & 2 Ave,40.739126,6462,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
25,NaN,-74.002939,NaN,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,W 4 St & 7 Ave S,40.734011,6463,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
26,NaN,-73.997262,NaN,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,W 20 St & 7 Ave,40.742388,6464,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
27,NaN,-73.996674,NaN,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,W 46 St & 11 Ave,40.763414,6465,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
28,NaN,-73.987834,NaN,154,2015-02-02 00:27:00+00,2015-02-02 00:30:00+00,428,E 3 St & 1 Ave,40.724677,6466,301,E 2 St & Avenue B,40.722174,-73.983688,18737,Subscriber,1961.0,1
29,NaN,-73.991930,NaN,550,2015-02-02 00:28:00+00,2015-02-02 00:37:00+00,331,Pike St & Monroe St,40.711731,6467,195,Liberty St & Broadway,40.709056,-74.010434,17797,Subscriber,1980.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,-73.989111,NaN,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,Allen St & E Houston St,40.722055,7871,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,NaN,-73.988557,NaN,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,Broadway & W 29 St,40.746201,7872,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,NaN,-73.977225,NaN,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,W 56 St & 6 Ave,40.763406,7873,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,NaN,-74.001768,NaN,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,10 Ave & W 28 St,40.750664,7874,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,NaN,-73.997236,NaN,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,W 26 St & 8 Ave,40.747348,7875,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,NaN,-73.989551,NaN,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,Broadway & E 22 St,40.740343,7876,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,NaN,-73.970325,NaN,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,E 47 St & 2 Ave,40.753231,7877,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,NaN,-73.988084,NaN,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,Broadway & W 32 St,40.748549,7878,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,NaN,-73.994811,NaN,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,8 Ave & W 31 St,40.750450,7879,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,NaN,-74.003664,NaN,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,9 Ave & W 18 St,40.743174,7880,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,NaN,-73.998102,NaN,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,LaGuardia Pl & W 3 St,40.729170,7881,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,NaN,-73.997236,NaN,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,W 26 St & 8 Ave,40.747348,7882,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,NaN,-74.005301,NaN,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,Cliff St & Fulton St,40.708235,7883,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,NaN,-73.983299,NaN,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,Rivington St & Ridge St,40.718502,7884,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,NaN,-73.987882,NaN,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,W 49 St & 8 Ave,40.762272,7885,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,NaN,-73.977706,NaN,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,Pershing Square North,40.751873,7886,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,NaN,-73.983035,NaN,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,E 30 St & Park Ave S,40.744449,7887,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,NaN,-73.999061,NaN,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,Sullivan St & Washington Sq,40.730477,7888,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,NaN,-73.990985,NaN,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,W 42 St & 8 Ave,40.757570,7889,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,NaN,-73.989551,NaN,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,Broadway & E 22 St,40.740343,7890,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,NaN,-73.981656,NaN,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,1 Ave & E 15 St,40.732219,7891,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,NaN,-73.988484,NaN,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,6 Ave & W 33 St,40.749013,7892,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,NaN,-74.001971,NaN,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,9 Ave & W 22 St,40.745497,7893,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,NaN,-73.992390,NaN,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,E 16 St & 5 Ave,40.737262,7894,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,NaN,-73.995101,NaN,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,E 10 St & 5 Ave,40.733320,7895,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,NaN,-73.980144,NaN,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,W 44 St & 5 Ave,40.755003,7896,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,NaN,-74.005524,NaN,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,Spruce St & Nassau St,40.711464,7897,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,NaN,-73.997044,NaN,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,W 13 St & 6 Ave,40.736494,7898,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,NaN,-73.999154,NaN,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,W 22 St & 8 Ave,40.744751,7899,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,NaN,-73.990741,NaN,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,Broadway & E 14 St,40.734546,7900,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

## Task 2.2 Selecting trips started on the weekends
- What are avaerge trip duration during weekends?

In [16]:
#2/1,2/7
query = '''
SELECT starttime, tripduration
FROM htv210.citibike_feb_2015
WHERE EXTRACT(DAY FROM starttime::date)=1 or EXTRACT(DAY FROM starttime::date)=7;
'''
table = get_data(query)
table

                    starttime  tripduration
0      2015-02-01 01:11:00+00           447
1      2015-02-01 10:26:00+00           277
2      2015-02-01 11:07:00+00           526
3      2015-02-01 12:37:00+00           502
4      2015-02-01 12:46:00+00           943
5      2015-02-01 12:54:00+00           563
6      2015-02-01 15:21:00+00           519
7      2015-02-01 17:38:00+00           500
8      2015-02-01 17:48:00+00           374
9      2015-02-01 19:26:00+00           420
10     2015-02-01 21:34:00+00           315
11     2015-02-07 06:33:00+00           302
12     2015-02-07 00:00:00+00           424
13     2015-02-07 03:43:00+00           439
14     2015-02-07 09:16:00+00           463
15     2015-02-07 09:32:00+00           852
16     2015-02-07 10:35:00+00          2049
17     2015-02-07 11:31:00+00           400
18     2015-02-07 11:57:00+00          1597
19     2015-02-07 12:37:00+00           996
20     2015-02-07 14:01:00+00          1640
21     2015-02-07 15:40:00+00           493
22     2015-02-07 16:50:00+00          2092
23     2015-02-07 17:23:00+00          1104
24     2015-02-07 17:34:00+00          1526
25     2015-02-07 18:55:00+00           237
26     2015-02-07 20:08:00+00           120
27     2015-02-07 20:16:00+00           558
28     2015-02-07 20:45:00+00           416
29     2015-02-07 21:30:00+00           320
...                       ...           ...
13201  2015-02-07 23:51:00+00           812
13202  2015-02-07 23:51:00+00           647
13203  2015-02-07 23:51:00+00           563
13204  2015-02-07 23:51:00+00           470
13205  2015-02-07 23:51:00+00           299
13206  2015-02-07 23:52:00+00           629
13207  2015-02-07 23:52:00+00           499
13208  2015-02-07 23:52:00+00           474
13209  2015-02-07 23:52:00+00           345
13210  2015-02-07 23:53:00+00           829
13211  2015-02-07 23:53:00+00           776
13212  2015-02-07 23:53:00+00           697
13213  2015-02-07 23:54:00+00          1703
13214  2015-02-07 23:54:00+00           922
13215  2015-02-07 23:54:00+00           849
13216  2015-02-07 23:54:00+00           826
13217  2015-02-07 23:54:00+00           473
13218  2015-02-07 23:54:00+00           332
13219  2015-02-07 23:55:00+00           456
13220  2015-02-07 23:55:00+00           327
13221  2015-02-07 23:55:00+00           306
13222  2015-02-07 23:56:00+00          1248
13223  2015-02-07 23:56:00+00          1165
13224  2015-02-07 23:56:00+00           993
13225  2015-02-07 23:57:00+00          1422
13226  2015-02-07 23:57:00+00           689
13227  2015-02-07 23:57:00+00           428
13228  2015-02-07 23:57:00+00           392
13229  2015-02-07 23:58:00+00           548
13230  2015-02-07 23:59:00+00           917

[13231 rows x 2 columns]

In [17]:
query = '''
SELECT AVG(tripduration) as weekend_avg
FROM htv210.citibike_feb_2015
WHERE EXTRACT(DAY FROM starttime::date)=1 or EXTRACT(DAY FROM starttime::date)=7;
'''
table = get_data(query)
table.head()

   weekend_avg  Unnamed: 1
0   662.942181         NaN

## Task 2.3 Can we do the same for weekday?

In [18]:
query = '''
SELECT starttime , tripduration
FROM htv210.citibike_feb_2015
WHERE EXTRACT(DAY FROM starttime::date)= 2 or EXTRACT(DAY FROM starttime::date)= 3 or EXTRACT(DAY FROM starttime::date)= 4 or EXTRACT(DAY FROM starttime::date)= 5 or EXTRACT(DAY FROM starttime::date)= 6;
'''
table = get_data(query)
table

                    starttime  tripduration
0      2015-02-02 11:07:00+00          1312
1      2015-02-03 10:33:00+00           360
2      2015-02-03 12:51:00+00           617
3      2015-02-03 16:55:00+00           233
4      2015-02-03 17:27:00+00           768
5      2015-02-03 17:44:00+00           392
6      2015-02-03 18:01:00+00           647
7      2015-02-03 19:55:00+00          3589
8      2015-02-03 19:55:00+00           319
9      2015-02-04 07:58:00+00           538
10     2015-02-04 08:15:00+00           883
11     2015-02-04 08:37:00+00           583
12     2015-02-04 08:46:00+00           966
13     2015-02-04 09:13:00+00           496
14     2015-02-04 11:58:00+00           353
15     2015-02-04 17:56:00+00           707
16     2015-02-04 19:12:00+00           351
17     2015-02-04 22:27:00+00           191
18     2015-02-05 05:42:00+00           159
19     2015-02-05 08:36:00+00           822
20     2015-02-05 09:46:00+00           205
21     2015-02-05 13:19:00+00           663
22     2015-02-05 14:38:00+00           536
23     2015-02-05 15:08:00+00           180
24     2015-02-05 16:18:00+00           432
25     2015-02-05 17:41:00+00           608
26     2015-02-05 18:33:00+00           595
27     2015-02-06 01:13:00+00          1269
28     2015-02-06 08:27:00+00           658
29     2015-02-06 13:46:00+00           950
...                       ...           ...
32939  2015-02-06 23:47:00+00           834
32940  2015-02-06 23:47:00+00           321
32941  2015-02-06 23:48:00+00           449
32942  2015-02-06 23:48:00+00           120
32943  2015-02-06 23:49:00+00           977
32944  2015-02-06 23:49:00+00           501
32945  2015-02-06 23:50:00+00           441
32946  2015-02-06 23:50:00+00           388
32947  2015-02-06 23:51:00+00           284
32948  2015-02-06 23:51:00+00           271
32949  2015-02-06 23:52:00+00           572
32950  2015-02-06 23:53:00+00           498
32951  2015-02-06 23:53:00+00           425
32952  2015-02-06 23:53:00+00           267
32953  2015-02-06 23:53:00+00           165
32954  2015-02-06 23:54:00+00           751
32955  2015-02-06 23:54:00+00           747
32956  2015-02-06 23:54:00+00           511
32957  2015-02-06 23:54:00+00           489
32958  2015-02-06 23:55:00+00          1183
32959  2015-02-06 23:55:00+00           649
32960  2015-02-06 23:55:00+00           377
32961  2015-02-06 23:56:00+00           485
32962  2015-02-06 23:56:00+00           298
32963  2015-02-06 23:57:00+00           648
32964  2015-02-06 23:58:00+00          1261
32965  2015-02-06 23:58:00+00           331
32966  2015-02-06 23:59:00+00           629
32967  2015-02-06 23:59:00+00           492
32968  2015-02-06 23:59:00+00           329

[32969 rows x 2 columns]

In [19]:
query = '''
SELECT AVG(tripduration) as weekend_avg
FROM htv210.citibike_feb_2015
WHERE EXTRACT(DAY FROM starttime::date)= 2 or EXTRACT(DAY FROM starttime::date)= 3 or EXTRACT(DAY FROM starttime::date)= 4 or EXTRACT(DAY FROM starttime::date)= 5 or EXTRACT(DAY FROM starttime::date)= 6;
'''
table = get_data(query)
table.head()

   weekend_avg  Unnamed: 1
0   681.052292         NaN

## Task 3.1 Showing the list of start station locations
- Using GROUP BY

In [20]:
query = '''
SELECT DISTINCT start_station_name FROM htv210.citibike_feb_2015
WHERE start_station_name IS NOT NULL
GROUP BY start_station_name;
'''
table = get_data(query)
table

                start_station_name  Unnamed: 1
0                 10 Ave & W 28 St         NaN
1                 11 Ave & W 27 St         NaN
2                 11 Ave & W 41 St         NaN
3                 11 Ave & W 59 St         NaN
4                 12 Ave & W 40 St         NaN
5                  1 Ave & E 15 St         NaN
6                  1 Ave & E 44 St         NaN
7                  2 Ave & E 31 St         NaN
8                  2 Ave & E 58 St         NaN
9          3 Ave & Schermerhorn St         NaN
10                 5 Ave & E 29 St         NaN
11               6 Ave & Broome St         NaN
12                6 Ave & Canal St         NaN
13                 6 Ave & W 33 St         NaN
14                 8 Ave & W 31 St         NaN
15                 8 Ave & W 33 St         NaN
16                 8 Ave & W 52 St         NaN
17                 9 Ave & W 14 St         NaN
18                 9 Ave & W 16 St         NaN
19                 9 Ave & W 18 St         NaN
20                 9 Ave & W 22 St         NaN
21                 9 Ave & W 45 St         NaN
22         Adelphi St & Myrtle Ave         NaN
23         Allen St & E Houston St         NaN
24            Allen St & Hester St         NaN
25         Allen St & Rivington St         NaN
26          Ashland Pl & Hanson Pl         NaN
27   Atlantic Ave & Fort Greene Pl         NaN
28        Atlantic Ave & Furman St         NaN
29              Avenue D & E 12 St         NaN
..                             ...         ...
297               W 4 St & 7 Ave S         NaN
298                W 51 St & 6 Ave         NaN
299               W 52 St & 11 Ave         NaN
300                W 52 St & 5 Ave         NaN
301                W 52 St & 9 Ave         NaN
302               W 53 St & 10 Ave         NaN
303                W 54 St & 9 Ave         NaN
304               W 56 St & 10 Ave         NaN
305                W 56 St & 6 Ave         NaN
306               W 59 St & 10 Ave         NaN
307          Warren St & Church St         NaN
308    Washington Ave & Greene Ave         NaN
309      Washington Ave & Park Ave         NaN
310                Washington Park         NaN
311          Washington Pl & 6 Ave         NaN
312       Washington Pl & Broadway         NaN
313            Washington Square E         NaN
314  Washington St & Gansevoort St         NaN
315        Water - Whitehall Plaza         NaN
316        Watts St & Greenwich St         NaN
317         W Broadway & Spring St         NaN
318          West St & Chambers St         NaN
319                 West Thames St         NaN
320       W Houston St & Hudson St         NaN
321           William St & Pine St         NaN
322       Willoughby Ave & Hall St         NaN
323   Willoughby Ave & Walworth St         NaN
324       Willoughby St & Fleet St         NaN
325   Wythe Ave & Metropolitan Ave         NaN
326               York St & Jay St         NaN

[327 rows x 2 columns]

## Task 3.2 Showing the number of trips started per station

In [21]:
query = '''
SELECT start_station_name,
COUNT(cartodb_id) as trips 
FROM htv210.citibike_feb_2015
GROUP BY start_station_name;
'''
table = get_data(query)
table

                start_station_name  trips
0             E 30 St & Park Ave S    227
1          Pearl St & Anchorage Pl     54
2                  W 56 St & 6 Ave    164
3                   West Thames St    107
4          Bank St & Washington St    125
5                  8 Ave & W 52 St    133
6               E 11 St & Broadway    115
7         DeKalb Ave & Skillman St     10
8    Atlantic Ave & Fort Greene Pl     36
9                Avenue D & E 8 St     38
10            S 3 St & Bedford Ave     13
11          W Broadway & Spring St    159
12                 2 Ave & E 31 St    302
13                 E 33 St & 5 Ave    213
14        MacDougal St & Prince St    247
15    Clermont Ave & Lafayette Ave     25
16          Barclay St & Church St    244
17          Forsyth St & Broome St    212
18                 W 13 St & 6 Ave    257
19              E 20 St & Park Ave    218
20                 W 17 St & 8 Ave    288
21               E 2 St & Avenue B    199
22                 E 33 St & 2 Ave    319
23                 W 18 St & 6 Ave    327
24             Old Slip & Front St     60
25                 1 Ave & E 44 St    110
26        Willoughby Ave & Hall St     35
27                 W 20 St & 7 Ave    190
28                 E 43 St & 2 Ave     86
29           West St & Chambers St    162
..                             ...    ...
297               12 Ave & W 40 St     91
298        Centre St & Chambers St    159
299                W 33 St & 7 Ave    309
300          Pershing Square South    362
301         Hicks St & Montague St     64
302        University Pl & E 14 St    341
303        Fulton St & Rockwell Pl     37
304    Lafayette Ave & St James Pl     32
305        Emerson Pl & Myrtle Ave     30
306                E 56 St & 3 Ave     41
307        Watts St & Greenwich St     73
308                W 44 St & 5 Ave    137
309                6 Ave & W 33 St    296
310              E 9 St & Avenue C    201
311               11 Ave & W 59 St    120
312        W 16 St & The High Line    186
313          Howard St & Centre St    124
314                2 Ave & E 58 St     64
315              E 5 St & Avenue C    142
316       Fulton St & Clermont Ave     27
317    Cadman Plaza E & Tillary St     22
318      Pearl St & Hanover Square     97
319          LaGuardia Pl & W 3 St    203
320                5 Ave & E 29 St    230
321                W 21 St & 6 Ave    519
322   Wythe Ave & Metropolitan Ave     45
323                W 11 St & 6 Ave    108
324            St Marks Pl & 1 Ave    156
325                W 22 St & 8 Ave    218
326         Railroad Ave & Kay Ave      7

[327 rows x 2 columns]

## Task 3.3 ...but only for stations within 500m of Time Square!
- The coordinates of Time Square is (40.7577, -73.9857)

In [22]:
query = '''
SELECT start_station_name, COUNT(cartodb_id) as trips,
(SQRT(POW(start_station_latitude -40.7577,2) + POW(start_station_longitude +73.9857,2))*111000) as distance
FROM htv210.citibike_feb_2015
WHERE (SQRT(POWER(start_station_latitude -40.7577,2) + POWER(start_station_longitude +73.9857,2))*111000) < 500
GROUP BY start_station_name, start_station_latitude, start_station_longitude
ORDER BY distance
'''
table = get_data(query)
table

   start_station_name  trips    distance
0  Broadway & W 41 St    251  300.956692
1     W 45 St & 6 Ave    141  325.239186
2  Broadway & W 49 St    213  356.328056
3     W 45 St & 8 Ave    141  366.834679
4     W 43 St & 6 Ave    112  389.199116

## Task 4.1 Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare!

In [23]:
query = '''
SELECT start_station_name, AVG(tripduration)
FROM htv210.citibike_feb_2015
WHERE SQRT(POW(start_station_latitude - 40.7577 , 2) + POW(start_station_longitude +73.9857, 2)) * 111000 < 500 AND EXTRACT(DAY FROM starttime::date) = 1 or EXTRACT(DAY FROM starttime::date) = 7
GROUP BY start_station_name
ORDER BY AVG(tripduration) DESC
LIMIT 1
'''
table = get_data(query)
table.head()

  start_station_name          avg
0    W 33 St & 7 Ave  2199.037037

## Task 4.2 Extra: create lines for trips started from stations within 500m of Time Squares and lasted less than 2 hours. The number of trips per each pair of station are output as attributes of these lines.

In [24]:
query = '''
SELECT start_station_name, end_station_name,COUNT(tripduration)
FROM htv210.citibike_feb_2015
WHERE SQRT(POW(start_station_latitude - 40.7577 , 2) + POW(start_station_longitude +73.9857, 2)) * 111000 < 500 and tripduration <= 7200
GROUP BY start_station_name, end_station_name
ORDER BY COUNT(tripduration)
'''
table = get_data(query)
table

     start_station_name            end_station_name  count
0       W 45 St & 6 Ave     E 53 St & Lexington Ave      1
1       W 45 St & 6 Ave             E 25 St & 1 Ave      1
2    Broadway & W 41 St             E 10 St & 5 Ave      1
3       W 43 St & 6 Ave             E 39 St & 3 Ave      1
4       W 45 St & 8 Ave        E 30 St & Park Ave S      1
5    Broadway & W 49 St          Broadway & W 29 St      1
6       W 45 St & 6 Ave          Broadway & W 55 St      1
7    Broadway & W 41 St        Allen St & Hester St      1
8       W 45 St & 6 Ave             E 25 St & 2 Ave      1
9       W 45 St & 8 Ave             9 Ave & W 45 St      1
10      W 43 St & 6 Ave         FDR Drive & E 35 St      1
11   Broadway & W 41 St             9 Ave & W 45 St      1
12   Broadway & W 41 St           E 7 St & Avenue A      1
13   Broadway & W 49 St            W 56 St & 10 Ave      1
14   Broadway & W 41 St     Duane St & Greenwich St      1
15      W 45 St & 8 Ave             W 22 St & 8 Ave      1
16   Broadway & W 49 St          Broadway & W 24 St      1
17      W 43 St & 6 Ave             E 58 St & 3 Ave      1
18   Broadway & W 41 St       Forsyth St & Canal St      1
19   Broadway & W 49 St          Broadway & W 53 St      1
20      W 43 St & 6 Ave            W 46 St & 11 Ave      1
21   Broadway & W 49 St  South End Ave & Liberty St      1
22      W 43 St & 6 Ave             8 Ave & W 33 St      1
23      W 45 St & 8 Ave             E 40 St & 5 Ave      1
24   Broadway & W 49 St        John St & William St      1
25      W 43 St & 6 Ave       Lafayette St & E 8 St      1
26   Broadway & W 49 St             W 54 St & 9 Ave      1
27      W 45 St & 6 Ave          Broadway & W 51 St      1
28   Broadway & W 41 St       Greenwich Ave & 8 Ave      1
29   Broadway & W 41 St             W 18 St & 6 Ave      1
..                  ...                         ...    ...
338  Broadway & W 41 St          E 17 St & Broadway      5
339  Broadway & W 41 St             9 Ave & W 22 St      5
340  Broadway & W 41 St          Broadway & W 39 St      5
341  Broadway & W 49 St             W 42 St & 8 Ave      5
342  Broadway & W 49 St            W 52 St & 11 Ave      5
343  Broadway & W 49 St             9 Ave & W 45 St      6
344     W 45 St & 6 Ave    E 43 St & Vanderbilt Ave      6
345     W 45 St & 6 Ave     E 37 St & Lexington Ave      6
346  Broadway & W 41 St             6 Ave & W 33 St      6
347     W 43 St & 6 Ave          Broadway & W 60 St      6
348  Broadway & W 41 St             E 20 St & 2 Ave      6
349  Broadway & W 49 St          Broadway & W 49 St      6
350     W 43 St & 6 Ave             W 33 St & 7 Ave      7
351     W 45 St & 8 Ave             W 45 St & 8 Ave      7
352  Broadway & W 49 St             W 44 St & 5 Ave      7
353  Broadway & W 49 St             E 48 St & 3 Ave      7
354  Broadway & W 41 St            W 43 St & 10 Ave      7
355  Broadway & W 41 St          Broadway & W 36 St      7
356  Broadway & W 49 St          E 47 St & Park Ave      9
357  Broadway & W 49 St            11 Ave & W 41 St      9
358     W 45 St & 8 Ave             8 Ave & W 33 St     10
359  Broadway & W 41 St            11 Ave & W 41 St     12
360     W 45 St & 6 Ave             W 41 St & 8 Ave     12
361     W 45 St & 8 Ave             8 Ave & W 52 St     12
362  Broadway & W 49 St            W 43 St & 10 Ave     12
363  Broadway & W 49 St       E 48 St & Madison Ave     13
364     W 43 St & 6 Ave    E 43 St & Vanderbilt Ave     14
365  Broadway & W 41 St             W 33 St & 7 Ave     14
366     W 45 St & 6 Ave             W 33 St & 7 Ave     14
367  Broadway & W 49 St    E 43 St & Vanderbilt Ave     15

[368 rows x 3 columns]

# Extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel